@model IEnumerable<EgitimPortalFinal.Models.Course>
@{
    ViewData["Title"] = "SEO";
}
<h1 style="margin-top: 50px; margin-bottom: 30px;">SEO Kursları</h1>
<div class="details-card-container" style="margin-bottom: 250px;">
    @foreach (var item in Model)
    {
        @if (item.Tag == "SEO")
        {
            <div class="details-course-card">
                <div class="details-course-card-img">
                    @if (!string.IsNullOrEmpty(item.PhotoUrl))
                    {
                        <img src="~/CoursePhotos/@item.PhotoUrl" class="img-fluid" alt="@item.Title" />
                    }
                    else
                    {
                        <img src="~/CoursePhotos/default-image.png" class="img-fluid" alt="Default Image" />  <!-- Varsayılan Görsel -->
                    }
                </div>
                <div class="details-course-card-body">
                    <h4>
                        <a asp-action="Details" asp-route-id="@item.Id" class="details-course-card-title" style="text-decoration:none; color:black;">
                            @item.Title
                        </a>
                    </h4>
                    <p class="details-course-card-description">@item.Description</p>
                </div>
                <hr class="details-course-card-divider">

                <div class="details-course-card-footer">
                    <a href="/Course/Details/@item.Id" class="details-btn-incele">İncele</a>
                </div>
            </div>
        }
    }
</div>
